#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ff1654;
}
#header1-4 H1 {
  color: #ff1654;
}
#header1-4 B {
  color: #ff1654;
}
#header1-4 P {
  color: #247ba0;
}
#form2-1 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-5 .mbr-header__text {
  color: #ff1654;
}
#msg-box5-5 .mbr-header__subtext {
  color: #000000;
}
#msg-box5-5 .mbr-article {
  color: #247ba0;
}
#msg-box5-5 .mbr-article P {
  color: #247ba0;
}
#header3-23 H3 {
  text-align: center;
  color: #ff1654;
}
#contacts1-2 P {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #247ba0;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #247ba0;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #247ba0;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
